node_modules
!electron/
!electron/node_modules/
!electron/node_modules/savvy-electron-placeholder/
!electron/node_modules/savvy-electron-placeholder/package.json
.data
.next
.next-prod
pb_data
pocketbase/pb_data
.next
out
dist
release
coverage
test-results
playwright-report
.env.local
.DS_Store
*.log
*.tsbuildinfo
/.turbo
